# ==========================================
# AMBIENTE E SERVIDOR
# ==========================================
NODE_ENV=development
APP_PORT=7340

# ==========================================
# BANCO DE DADOS
# ==========================================
DB_URL="mongodb://localhost:27017/viveiro_municipal_dev"
USE_IN_MEMORY_DB=true
    
# ==========================================
# AUTENTICAÇÃO E SEGURANÇA (JWT)
# ==========================================
SALT_LENGTH=13
JWT_SECRET_ACCESS_TOKEN="ACCCES"
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_SECRET_REFRESH_TOKEN="REFRESH"
JWT_REFRESH_TOKEN_EXPIRATION="7d"
JWT_SECRET_PASSWORD_RECOVERY="RECOVER"
JWT_PASSWORD_RECOVERY_EXPIRATION="1h"
SINGLE_SESSION_REFRESH_TOKEN=false

# ==========================================
# DADOS INICIAIS (SEED)
# ==========================================
ADMIN_NAME="Administrador Geral"
ADMIN_EMAIL="admin@viveiro.com"
ADMIN_PASSWORD="Admin@123!"

# ==========================================
# SERVIÇO DE E-MAIL (SMTP)
# ==========================================
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="seu_email@gmail.com"
EMAIL_PASS="sua_senha_de_app"
EMAIL_SECURE=false
DISABLED_EMAIL=false
FRONTEND_URL="http://localhost:5173"
BASE_URL="http://localhost:7340"

# ==========================================
# LOGS
# ==========================================
LOG_ENABLED=true
LOG_LEVEL=info
LOG_MAX_SIZE_GB=1
DEBUGLOG=true
